<!DOCTYPE html>
<html ng-app="blossomApp">
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='app/css/app.css'/>
        <link rel='stylesheet' href='app/lib/bootstrap/dist/css/bootstrap.css'/>
    </head>
    <body>
        <div class="container">
            <a href="#/todo">Todo</a>
            <ng-view></ng-view>
        </div>
    </body>
    <script data-main="app/js/main" src="app/lib/requirejs/require.js"></script>
</html>
