<!DOCTYPE html>
<html ng-app="blossomApp">
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='src/app/css/style.css'/>
    <link rel='stylesheet' href='src/lib/bootstrap/dist/css/bootstrap.css'/>
</head>
<body>
<div class="container">

</div>
</body>
<script src="src/lib/jquery/dist/jquery.js" charset="utf-8"></script>
<script src="src/lib/bootstrap/dist/js/bootstrap.js" charset="utf-8"></script>
<script src="src/lib/angular/angular.js" charset="utf-8"></script>
</html>
